html{
    font-family: 'space grotesk';
}
#bg-main-mobile{
    position: absolute;
    z-index: -5;
}
#back-card{
    background-image: url('images/bg-card-back.png');
    background-size: contain;
    background-repeat: no-repeat;
}
#front-card{
    background-image: url('images/bg-card-front.png');
    background-size: contain;
    background-repeat: no-repeat;
}