html{
    font-family: 'space grotesk';
}
#bg-main-mobile{
    position: absolute;
    z-index: -5;
}
.bg-card{
    width: 250px;
}
#back-card{
    position: relative;
}
#front-card{
    position: relative;
}
.bg-card{
    position: absolute;
}
